@*@model Artist


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Model.UserName</h4>
    </div>
    <div class="panel-body">
        <div class="col-lg-4 col-md-4">

        </div>
        <div class="col-lg-8 col-md-8">
            <p>Country: @Model.Country</p>
            <p>Joined: @Model.CreatedDate.ToString("MM/dd/yyyy")</p>
            
        </div>
    </div>
</div>*@
